h1{
    width:300px;
	padding:16px; 
    border-radius:10px;
    margin:auto;
	background-color:#ccc;
    text-align: center;
}

fieldset{
    width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}
fieldset button{
    width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
    cursor:pointer;
}
