
h1{
    width:300px;
	padding:16px; 
    border-radius:10px;
    margin:auto;
	background-color:#ccc;
    text-align: center;
}

h2{
    width:300px;
	padding:16px; 
    border-radius:10px;
    margin:auto;
	background-color:rgb(51, 51, 51);
    text-align: center; 
    color: white;
}

table, tr, td {
    border: 1px solid rgb(255, 254, 254);
    margin:auto;
    height: 50px;
    width: 500px;
    background-color: rgb(48, 47, 47);
    color :rgb(253, 253, 253)
    
  }
  td{
   
      text-align: center;
  }
  #buscador{
      background-color:#ccc;
  }

  body{
    background-image: url("../moto3.gif");
	background-repeat: repeat;
}
div{
    display: grid;
	text-align: center;
	padding: 1em;
	background: #302e2e;
	border: 1px solid #c1c1c1;
	margin: 2rem auto 0 auto;
	max-width: 600px;
	padding: 1em;
	color: rgb(255, 254, 254);
}

#modificar{
    display: none;
}